html {box-sizing: border-box;}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {min-width: 320px;}

body {
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type="submit"] {cursor: pointer;}

textarea {resize: none;}

.clearfix:after {clear: both;}

/* .wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content{
  flex: 1 0 auto;
}
.footer{
  flex: 0 0 auto;
} */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {margin: 100px 0;}

.btn {
    padding: 10px 15px;
    border: 1px solid #222;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
    outline: #000;

    &--style {
        color: #222;
        font-size: 22px;
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
        background-color: #FFF;
    }
}

.social {
    position: fixed;
    right: 0px;
    bottom: 50%;
    transform: translateY(50%);
    background-color: #FFF;
    padding: 7px;
    border-radius: 5px 0 0 5px;
    transition: all .5s;
    box-shadow: 0 0px 8px rgba(3, 169, 244, 0.7);
    z-index: 100;    

    .link-click {
        font-size: 22px;
        letter-spacing: 3px;
        text-align: center;
        font-weight: 900;
        margin-bottom: 5px;
        padding-left: 4px;
        padding-bottom: 3px;
        transition: all .3s;
        color: $blue;
    }

    .social__list li {
        display: block;
        margin-bottom: 10px;
        transition: all .3s;

        &:hover,
        &:focus {transform: scale(1.2);}

        img {
            width: 30px;
            height: 30px;
        }
    }
}

/* burger-menu */
.burger-menu{
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all .4s;
    box-shadow: 0 0px 20px 8px rgba(3, 169, 244, 0.4);
    
    
    .menu__btn{
        display: block;
        width: 30px;
        cursor: pointer;
        position: fixed; 
        top: 20px;
        right: 20px;
        z-index: 10;
        div{
            background-color: #232323;
            height: 5px;
            & + div{
                margin-top: 5px;
            }
        }
    }

    //menu
    .burger-menu__list{
        display: none;
        position: absolute;
        top: 150px;
        left: auto;
        right: auto;
        max-width: 400px;
        width: 100%;
    }

    .burger-menu__list li,
    a {
        color: #222;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 1px;
        font-weight: 700;
        transform: translateX(50px);
        
        &:hover,
        &:focus{
            color: $blue;
        }
    }

    .burger-menu__dropdown-link {
        div{
            cursor: pointer;
            margin-left: 50px;
        }
        img {
            width: 15px;
            height: 15px;
        }

        .arrows-rotate img {transform: rotate(180deg);}
    }

    .burger-menu__list {
        .burger-menu__dropdown {
            position: relative;

            li {
                display: none;
            }

            &.active li {
                display: block;
            }
        }
    }

    //click btn
    &.active{
        width: 90%;
        height: 90%;
        box-shadow: 0 0px 20px 8px rgba(3, 169, 244, 0.8);
        
        .burger-menu__list{
            display: block;
        }
        
        .menu__btn{
            margin-top: -10px;
            div{
                background-color: #232323;
                transition: all .3s;
                margin-top: 20px;
                transform: rotate(360deg);
            }
            .line1{
                display: block;
                width: 22px;
                margin-bottom: -20px;
                margin-left: 16px;
                transform: rotate(21deg);
            }
            .line2{
                display: block;
                width: 38px;
            }
            .line3{
                display: block;
                display: block;
                width: 22px;
                transform: rotate(157deg);
                margin-top: 1px;
                margin-left: 16px;
            }
        }
    }
}
.activs{
    overflow: hidden;
}







/* .burger-menu {
    @keyframes checked-anim {
        to {
            width: 100%;
            height: 100%;
        }
    }

    @keyframes not-checked-anim {
        0% {
            width: 300px;
            height: 300px;
        }
    }

    ul.burger-menu__list {padding-top: 100px;}

        .burger-menu__list li,
    a {
        margin: 20px auto;
        color: #222;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 1px;
        font-weight: 700;
        display: none;
        transform: translateX(50px);
    }

    li {width: 230px;}

    a:hover {
        display: block;
        color: #333;
        transition: all .3s;
    }

    #trigger,
    #burger,
    #burger:before,
    #burger:after {
        position: absolute;
        top: 25px;
        right: 25px;
        background-color: $blue;
        width: 30px;
        height: 5px;
        transition: .2s ease;
        cursor: pointer;
        z-index: 1010;
    }

    #trigger {
        height: 25px;
        background: none;
    }

    #burger:before {
        content: " ";
        top: 10px;
        right: 0;
    }

    #burger:after {
        content: " ";
        top: 20px;
        right: 0;
    }

    #menu-toggle:checked+#trigger+#burger {
        top: 35px;
        transform: rotate(180deg);
        transition: transform .2s ease;
    }

    #menu-toggle:checked+#trigger+#burger:before {
        width: 20px;
        top: -2px;
        right: 18px;
        transform: rotate(140deg) translateX(-5px);
        transition: transform .2s ease;
    }

    #menu-toggle:checked+#trigger+#burger:after {
        width: 20px;
        top: 2px;
        right: 18px;
        transform: rotate(-140deg) translateX(-5px);
        transition: transform .2s ease;
    }

    .burger-menu__list {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 110px;
        height: 110px;
        background-color: #fff;
        border-bottom-left-radius: 100%;
        box-shadow: 0 0px 20px 8px rgba(3, 169, 244, 0.7);
        animation: not-checked-anim .1s forwards;
        transition: .1s;
        z-index: 1000;
    }

    .burger-menu__dropdown-link {
        img {
            width: 15px;
            height: 15px;
        }

        .arrows-rotate img {transform: rotate(180deg);}
    }

    .burger-menu__list {
        .burger-menu__dropdown {
            position: relative;

            li {display: none;}

            &.active li {
                display: block;
                width: 270px;
                border-left: 1px solid;
            }
        }
    }

    #menu-toggle:checked+#trigger+#burger+.burger-menu__list {
        animation: checked-anim .2s linear forwards;
    }

    #menu-toggle:checked+#trigger~.burger-menu__list>li,
    
    a {display: block;}

    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        display: none;
    }
} */
/* burger-menu-end */