@media(max-width: 1700px) {
	.header__inner .header__phone{
		margin-top: -15px;
		font-size: 40px;
		
		&-name{ 
			font-size: 35px;
		}
	}
}
@media(max-width: 1200px){
	.header__text{
		&-title{
			font-size: 40px;
		}
		&-subtitle{
			font-size: 25px;
		}
	}
}
@media(max-width: 1080px){
	.top-navigation__list li a, .top-navigation__dropdown-link div{
		font-size: 18px;
	}
	.top-navigation__dropdown-link div{
		svg{
			width: 13px;
			height: 13px;
		}
	}
	.logo img{
		width: 150px;
	}
}
@media(max-width: 991px){
	.header__inner{
		margin-bottom: 130px;
	}
	.header__text{
		&-title{
			font-size: 30px;
			margin-bottom: 80px;
		}
		&-subtitle{
			max-width: 710px;
			font-size: 22px;
		}
	}
		.top-navigation__list > li + li{
			margin-left: 0px;
		}
		.top-navigation__dropdown{
			min-width: 230px;
			li a{
				padding: 7px 14px;
			}
		}
		.logo img{
		width: 135px;
		margin-top: 5px;
	}
	.about-inner{
		display: block; 
		.about-inner__img{
			margin: 0 auto;
			margin-bottom: 50px;
		}
		.about-inner__desk{
			max-width: 100%;
	    padding-left: 50px;
	    padding-right: 50px;
		}
	}
	.contacts__inner{
		display: block;
		margin-left: 50px;
	}
	.contacts__adress{
		margin-bottom: 50px;
	}

	/* page */
	.services__content-title{
		font-size: 25px;
	}
	.services__content-suptitle{
		font-size: 16px;
	}
	.services__content{
		h2{
			font-size: 23px;	
		}
		p{
			font-size: 16px;
		}
	}
	.services__aside-title{
		font-size: 18px;
	}
	.services__aside-list li a{
		font-size: 16px;
    	line-height: 25px;
	}
	.services__aside-box{
		max-width: 230px;
	}
	.services__inner,
	.works__inner{
		display: block;
	}
	.services__consultation{
		display: none;
	}
	
	.services__content,
	.works__content{
		margin-left: 0;
	}
	.services__aside-box,
	.services__aside,
	.works__aside-box,
	.works__aside{
		max-width: 100%;
	}
	/* page-end */
}
@media(max-width: 850px){
	.top-navigation__list li a, .top-navigation__dropdown-link div{
		font-size: 16px;
	}
	.top-navigation__list li a{
		padding: 45px 18px 12px 10px;
	}
	.logo img{
		width: 120px;
    margin-top: 10px;
	}
}
@media(max-width: 800px){
	.header__text{
		&-subtitle{
			max-width: 615px;
			font-size: 20px;
		}
	}
}
@media(max-width: 767px){
	.social{
		display: none;
	}
	.arrow-nav{
		display: none;
	}
	.burger-menu{
		width: 90px;
		height: 90px;
	}
	.btn__wrapper{
		left: 0;
		right: 0;
		bottom: 10px;
	}
	.header__inner .header__phone{
		margin-top: -25px;
		font-size: 30px;
		pointer-events: auto;
		img{
			width: 25px;
		}
		&-name{
			font-size: 25px;
			padding-top: 20px;
		}
	}
	.header__inner{
		margin-bottom: 100px;
	}
	.burger-menu__list li a, .burger-menu__list li div{
		font-size: 22px;
		line-height: 32px;
	}
	.top-menu{
		display: none;
	}
	.about-inner__desk-border{
		font-size: 18px;
		div{
			font-size: 18px;
		}
	}
	.about-inner{
		margin-bottom: -40px;
	}
	.about__title{
		margin-top: 40px;
	}
	.about{
		.title{
			margin-bottom: 40px;
		}
	}
	.contacts__title{
			margin-bottom: 40px;
	}
	.contacts.section{
		margin-bottom: 50px;
	}
	.portfolio{
		min-height: auto;
		.portfolio__title{
			margin-bottom: 50px;
		}
	    .btn{
	        top: -10px;
	        bottom: 0;
	        margin-bottom: 10px;
	    }
	}
	.footer{
		font-size: 16px;
		.footer__link{
			a{
				font-size: 16px;
			}
		}
	}
	//animation
	.about,
	.skils,
	.portfolio,
	.contacts{
		.fadeIn,
		.fadeInDown{
			animation-duration: 1s !important;
		}
	}
	.about-inner{
		.fadeIn{
			animation-duration: 1s !important;
			animation-delay: 0s !important;
		}
	}
	.card__inner{
		.zoomInLeft,
		.zoomIn,
		.zoomInRight{
			animation-duration: 1s !important;
		}
	}
	.contacts__inner{
		.fadeInLeft,
		.fadeIn{
			animation-duration: 1s !important;
			animation-delay: 0s !important;
		}
	}
	//animation-end

	//form popup
	#order{
		.formTitle{
			font-size: 18px;
		}	
	}
	.orderForm{
		.radioDesk{
			display: none;
		}
		.wrapBtn{
			display: none;
		}
		.wrapInputFio, 
		.wrapInputEmail, 
		.wrapInputTel, 
		.wrapSubmit, 
		.wrapOrderFormTextarea {
			font-size: 18px;
			
			span{
				top: 10px;
			}
			input{
				font-size: 16px;
				height: 40px;
				
				&::placeholder{
					font-size: 16px;
				}
			}
			textarea{
				font-size: 16px;
				
				&::placeholder{
					font-size: 16px;
				}
			}
		}
		.services{
			height: 40px;
		}
		.jq-selectbox__select{
			height: 40px;
		}
		.jq-selectbox__trigger{
			top: 5px;
		}
		.jq-selectbox__dropdown{
			top: 37px;
		}
		.jq-selectbox .jq-selectbox__select-text {
		    margin-top: -3px;
		    font-size: 16px;
		}
	}
	/* page-services */
	
	.services__content-title,
	.works__content-title{
		font-size: 22px;
	}
	.services__content .services__suptitle-list{
		margin-left: 5px;
	}
	.services__content p{
		font-size: 14px;
	}
	.works__content-wrapper .works__description {
		span{
			font-size: 16px;
		}
		p{
			font-size: 14px;
			line-height: 23px;
			margin-top: 0;	
		}
	}
	.portfolio__card{
		height: 400px;
	}
	.services__content-wrpper .btn--style{
		font-size: 16px;
	}
	.works__content-wrapper .mobile_maket{
		padding-bottom: 20px;
	}
	/* page-services-end */
}
@media(max-width: 600px){
	#order{
		.formTitle{
			font-size: 18px;
		}
	}
	
	.about-inner .about-inner__desk{
		padding-left: 0;
		padding-right: 0;
	}
	.title{
		font-size: 23px;
	}
	.contacts__inner{
		display: block;
		margin-left: 0;
	}
	.contacts__adress{
		margin-bottom: 50px;
		max-width: 100%;
	}
	.contacts__form form{
		max-width: 100%;
	}
	.contacts__adress-text{
		font-size: 18px;
	}
	.footer{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-right: 0;
    padding-left: 0;
	}
	.footer a{
		padding-left: 0;
	}
}
@media(max-width: 560px){
	.header__inner{
		margin-bottom: 100px;
	}
	.header__text{
		&-title{
			font-size: 22px;
			margin-bottom: 20px;
		}
		&-subtitle{
			max-width: 100%;
			font-size: 18px;
		}
	}
	.btn{
		bottom: 90px;
		&--style{
		font-size: 18px;
	}
	}
	.burger-menu .burger-menu__list{
		top: 80px;
	}
	.burger-menu__list li a, .burger-menu__list li div{
		font-size: 20px;
		line-height: 28px;
	}
	.portfolio-slider__img{
		max-width: 100%;
		min-height: 315px;
	}
	.slick-slide{
		margin-left: 10px;
		margin-right: 10px;
	}
	.portfolio{
		min-height: auto;
		.portfolio__title{
			margin-bottom: 30px;
		}
	    .btn{
	        top: -25px;
	        bottom: 0;
	        margin-bottom: 0px;
	    }
	}
}
@media(max-width: 480px){
	.container{
		padding: 0 5px;
	}
	.header__text{
		&-title{
			font-size: 16px;
			font-weight: 900;
			margin-bottom: 0px;
		}
		&-subtitle{
			max-width: 100%;
			font-size: 16px;
			line-height: 23px;
		}
	}
	.btn{
		padding: 6px 10px;
		&--style{
			font-size: 16px;
		}
	}
	.header__inner{
		margin-bottom: 80px;
	}

	.header__inner .header__phone{
		margin-top: -15px;
		font-size: 25px;
		
		img{
			width: 20px;
		}
		
		&-name{
			font-size: 20px;
		}
	}
	.burger-menu{
		width: 55px;
		height: 55px;	
		
		.menu__btn{
			width: 25px;
			top: 10px;
			right: 10px;
			 div + div{
			margin-top: 4px;
		}
			.line1,
			.line2,
			.line3{
				height: 4px;
			}
		}
		.burger-menu__list{
			top: 30px;
			
			.burger-menu__dropdown-link img{
				width: 11px;
				height: 11px;
			}
			
			.burger-menu__dropdown{
				right: 50px;
				width: 200px;
				li a{
					display: block;
					border-bottom: 1px dotted $blue;
				}
			}
		}
		.burger-menu__list li a, .burger-menu__list li div{
			font-size: 16px;
			line-height: 25px;
		}
	}
	.burger-menu.active .menu__btn{
		right: 20px;
	}
	.arrow-top.active{
		display: none;
	}
	.footer{
		font-size: 16px;
	}
	.portfolio-slider__img{
		min-height: 260px;
	}
	.portfolio-slider__img-hover{
		min-height: 260px;
	}

	#order{
		.wrapRadio{
			font-size: 12px;
		}
		.radioLTitle{
			font-size: 14px;
		}
	}
	.services__suptitle-list{
		li{
			font-size: 14px;
		}
	}
}
@media(max-width: 410px){
	.portfolio-slider__img-hover{
		.portfolio-slider__title{
		font-size: 16px;
		}
		.portfolio-slider__slider-list{
			padding: 15px 0 0px 20px;
		}
		.portfolio-slider__button a{
			font-size: 14px;
			display: block;
		}
	}
	#order{
		.wrapRadio,
		.blockRadioR{
			display: block;
			text-align: left;
		}
		.blockRadioL{
			padding-left: 0;
			margin-bottom: 10px;
		}
	}
}