/* variables */
//color
$blue: #03A9F4;

//mouse-scroll-snippet
$colorSnipet: rgba(0,0,0, 0.8);
$colorSnipetArrowLeft: #000;
$colorSnipetArrowRight: #000;

//mouse-scroll-snippet -top arrow
$colorSnipetArrow-topLeft: #fff;
$colorSnipetArrow-topRight: #fff;

//mixin
// @mixin f300{
// 	font-family: 'Roboto', sans-serif;
// 	font-weight: 300;
// }

